{% extends 'base.html.twig' %}

{% block title %}Modification de la voiture{% endblock %}
{% block titre %}Voiture {{ voiture.immatriculation }}{% endblock %}


    {% block body %}
    <div class="container">
        {{form_start(form)}}
            {{form_widget(form)}}
            <a href="{{ path('admin')}}" class"btn btn-primary">Retour</a>
            <input type="submit" value="valider" class="btn btn-success">
        {{form_end(form)}}
    </div>
    {% endblock %}

