{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block titre %}Administration des catégories{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <a href="{{ path('admin_types_creation') }}" class="btn btn-success">Ajouter</a>
    <table class="table">
        <tr class="table-primary">
            <td>Image</td>
            <td>Catégorie</td>
            <td>Actions</td>
        </tr>
        {% for type in types %}
            <tr>
                <td style="width: 10%"><img src="{{ asset('images/types/' ~ type.image )}}" alt="" class="perso_imgAlimentAdmin"></td>
                <td><strong>{{ type.libelle }}</strong></td>
                <td>
                    <a href="{{ path('modif_type', {'id':type.id}) }}" class="btn btn-secondary">Modifier</a>
                    <form method="POST" style="display:inline-block;" action="{{path('admin_types_suppression', {'id': type.id })}}" onsubmit="return confirm('Confirmer la suppression')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="token" value={{ csrf_token('SUP') }}>
                        <input type="submit" value="supprimer" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}