{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block titre %}Administration des aliments{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <a href="{{ path('admin_aliments_creation') }}" class="btn btn-success">Ajouter</a>
    <table class="table">
        <tr class="table-primary">
            <td>Image</td>
            <td>Aliment</td>
            <td>Catégorie</td>
            <td>Prix</td>
            <td>Calories</td>
            <td>Protéines</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Actions</td>
        </tr>
        {% for aliment in aliments %}
            <tr>
                <td style="width: 10%"><img src="{{ asset('images/aliments/' ~ aliment.image )}}" alt="" class="perso_imgAlimentAdmin"></td>
                <td><strong>{{ aliment.nom }}</strong></td>
                <td><strong>{{ aliment.type.libelle }}</strong></td>
                <td>{{ aliment.prix }}</td>
                <td>{{ aliment.calorie }}</td>
                <td>{{ aliment.proteine }}</td>
                <td>{{ aliment.glucide }}</td>
                <td>{{ aliment.lipide }}</td>
                <td>
                    <a href="{{ path('admin_aliments_modification', {'id': aliment.id})}}" class="btn btn-secondary">Modifier</a>
                    <form method="POST" style="display:inline-block;" action="{{path('admin_aliments_suppression', {'id': aliment.id })}}" onsubmit="return confirm('Confirmer la suppression')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="token" value={{ csrf_token('SUP') }}>
                        <input type="submit" value="supprimer" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
