{% extends 'base.html.twig' %}

{% block title %}Arme{% endblock %}

{% block titre %}Arme {{ arme.nom }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            <img src="{{ asset('images/armes/' ~ arme.nom|lower ~ '.png') }}" alt="">
        </div>
        <div class="col">
            <h2>{{ arme.nom }}</h2>
            <div>
                {{ arme.description }}
            </div>
            <div>
                Dégâts: {{ arme.degats }}
            </div>
        </div>
    </div>
{% endblock %}