{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block monTitre %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form)}}
        {{ form_row(form.username, {
            "attr" : {
                "placeholder": "saisir votre login"
            },
            "label" : "Votre login"
        })}}
        {{ form_row(form.password, {
            "attr" : {
                "placeholder": "mot de passe"
            },
            "label" : "Mot de passe"
        })}}
        {{ form_row(form.password2, {
            "attr" : {
                "placeholder": "Confirmez votre mot de passe"
            },
            "label" : "Confirmez votre mot de passe"
        })}}
        <input type="submit" value="Valider" class="btn btn-primary">
    {{ form_end(form)}}
    </div>
{% endblock %}
